build/
__pycache__/
client.build/
client.dist/
dist/
images/
logs/
chat_settings.json
chat_settings.txt
client.cmd
client.exe
conf.env
credentials.txt
nuitka-crash-report.xml
profiles.json
SwiftChat.spec
SwiftChatServer.spec
users.db